In [1]:
import numpy as np

In [3]:
arr1 = np.array([12,65,990,132])

In [5]:
arr1

array([ 12,  65, 990, 132])

In [9]:
arr1/100

array([0.12, 0.65, 9.9 , 1.32])

In [11]:
arr1/200

array([0.06 , 0.325, 4.95 , 0.66 ])

In [13]:
arr1/1

array([ 12.,  65., 990., 132.])

In [15]:
arr1.shape

(4,)

In [17]:
type(arr1)

numpy.ndarray

In [31]:
two_dim = np.array([[129, 76, 0], [90, 100, 120]])

In [35]:
two_dim

array([[ 12.9,  76. ,   0. ],
       [ 90. , 100. , 120. ]])

In [37]:
type(two_dim)

numpy.ndarray

In [41]:
two_dim.shape

(2, 3)

In [45]:
name = np.array([["Nimish","Omkar","Sagar"],["Umesh","Radha","Tina"]])

In [53]:
#Three Dimensional Array

In [57]:
three_dim = np.array([["Reema","Jaswant","Kavita"],["Salman","Pamela","Oliver"],["Hemant","yash","Nandani"]])

In [59]:
three_dim

array([['Reema', 'Jaswant', 'Kavita'],
       ['Salman', 'Pamela', 'Oliver'],
       ['Hemant', 'yash', 'Nandani']], dtype='<U7')

In [61]:
three_dim.shape

(3, 3)

In [70]:
import pandas as pd

In [72]:
students = {'rollno':[10,11,12,13,14], 'name':['shivam', 'nimish', 'amit', 'nikita', 'sapna'], 'marks':[63, 75, 78, 84,86]}

In [74]:
students

{'rollno': [10, 11, 12, 13, 14],
 'name': ['shivam', 'nimish', 'amit', 'nikita', 'sapna'],
 'marks': [63, 75, 78, 84, 86]}

In [76]:
d1 = pd.DataFrame(students)

In [78]:
d1

   rollno    name  marks
0      10  shivam     63
1      11  nimish     75
2      12    amit     78
3      13  nikita     84
4      14   sapna     86

In [99]:
employee_name = {
    "employeeID" : [1,2,3,4,5],
    "Name": ["Nimish Mothghare","Sanika Kamble","Damini Sharma","Pamela anderson","Ishita Rane"],
    "Salary": [1200,4300,7600,1200,7800]
}

In [101]:
employee = pd.DataFrame(employee_name)

In [103]:
employee

   employeeID              Name  Salary
0           1  Nimish Mothghare    1200
1           2     Sanika Kamble    4300
2           3     Damini Sharma    7600
3           4   Pamela anderson    1200
4           5       Ishita Rane    7800

In [105]:
employee["Department"] = ["HR","Operation","Mobile Department","Digital Marketing","Testing Department"]

In [107]:
employee

   employeeID              Name  Salary          Department
0           1  Nimish Mothghare    1200                  HR
1           2     Sanika Kamble    4300           Operation
2           3     Damini Sharma    7600   Mobile Department
3           4   Pamela anderson    1200   Digital Marketing
4           5       Ishita Rane    7800  Testing Department

In [109]:
new_employee = {"employeeID" : 6,"Name" : "Fatima Shaikh","Salary": 7900,"Department": "Sales"}

In [115]:
employee = pd.concat([employee, pd.DataFrame([new_employee])],ignore_index = True)

In [117]:
employee

   employeeID              Name  Salary          Department
0           1  Nimish Mothghare    1200                  HR
1           2     Sanika Kamble    4300           Operation
2           3     Damini Sharma    7600   Mobile Department
3           4   Pamela anderson    1200   Digital Marketing
4           5       Ishita Rane    7800  Testing Department
5           6     Fatima Shaikh    7900               Sales

In [119]:
employee.to_csv("employee_data.csv", index = False)

In [121]:
print("CSV file saved successfully!")

CSV file saved successfully!

In [125]:
player = pd.read_csv("teams.csv")

In [127]:
player

,id,name,code,image_path,country_id,national_team,updated_at
0,1,Pakistan,PAK,https://cdn.sportmonks.com/images/cricket/team...,190324,True,2018-11-29T11:47:20.000000Z
1,10,India,IND,https://cdn.sportmonks.com/images/cricket/team...,190324,True,2018-11-29T11:47:20.000000Z
2,36,Australia,AUS,https://cdn.sportmonks.com/images/cricket/team...,190324,True,2018-11-29T11:47:20.000000Z
3,37,Bangladesh,BGD,https://cdn.sportmonks.com/images/cricket/team...,190324,True,2018-11-29T11:47:20.000000Z
4,38,England,ENG,https://cdn.sportmonks.com/images/cricket/team...,190324,True,2019-01-29T11:07:04.000000Z
...,...,...,...,...,...,...,...
73,2156,Croatia,HRV,https://cdn.sportmonks.com,190324,False,2022-07-24T12:50:38.000000Z
74,2183,Indonesia,ISN,https://cdn.sportmonks.com/images/cricket/team...,190324,False,2022-08-04T13:54:57.000000Z
75,2186,Japan,JPN,https://cdn.sportmonks.com/images/cricket/team...,190324,False,2022-08-04T13:55:57.000000Z
76,2252,Rwanda,RWA,https://cdn.sportmonks.com/images/cricket/team...,190324,False,2022-10-29T19:53:57.000000Z
77,2255,Tanzania,TZA,https://cdn.sportmonks.com/images/cricket/team...,190324,False,2022-10-29T19:55:07.000000Z

In [129]:
print(player.to_string())

      id                      name code                                                   image_path  country_id  national_team                   updated_at
0      1                  Pakistan  PAK      https://cdn.sportmonks.com/images/cricket/teams/1/1.png      190324           True  2018-11-29T11:47:20.000000Z
1     10                     India  IND    https://cdn.sportmonks.com/images/cricket/teams/10/10.png      190324           True  2018-11-29T11:47:20.000000Z
2     36                 Australia  AUS     https://cdn.sportmonks.com/images/cricket/teams/4/36.png      190324           True  2018-11-29T11:47:20.000000Z
3     37                Bangladesh  BGD     https://cdn.sportmonks.com/images/cricket/teams/5/37.png      190324           True  2018-11-29T11:47:20.000000Z
4     38                   England  ENG     https://cdn.sportmonks.com/images/cricket/teams/6/38.png      190324           True  2019-01-29T11:07:04.000000Z
5     39                 Sri Lanka  LKA     https://cdn.sportmonks.com/images/cricket/teams/7/39.png      190324           True  2019-08-31T12:20:09.000000Z
6     40              South Africa  ZAF     https://cdn.sportmonks.com/images/cricket/teams/8/40.png      190324           True  2019-08-31T12:31:16.000000Z
7     41                  Zimbabwe  ZIM     https://cdn.sportmonks.com/images/cricket/teams/9/41.png      190324           True  2019-06-17T14:45:03.000000Z
8     42               New Zealand  NZL    https://cdn.sportmonks.com/images/cricket/teams/10/42.png      190324           True  2019-08-31T12:32:06.000000Z
9     43               West Indies   WI    https://cdn.sportmonks.com/images/cricket/teams/11/43.png      190324           True  2018-11-29T11:47:20.000000Z
10    44                  Scotland  SCO    https://cdn.sportmonks.com/images/cricket/teams/12/44.png      190324           True  2019-02-13T16:25:03.000000Z
11    45      United Arab Emirates  UAE    https://cdn.sportmonks.com/images/cricket/teams/13/45.png      190324           True  2019-10-28T18:35:02.000000Z
12    46               Afghanistan  AFG    https://cdn.sportmonks.com/images/cricket/teams/14/46.png      190324           True  2019-02-19T06:30:02.000000Z
13    47         Adelaide Strikers   AS    https://cdn.sportmonks.com/images/cricket/teams/15/47.png          98          False  2019-12-19T12:26:02.000000Z
14    48             Brisbane Heat   BH    https://cdn.sportmonks.com/images/cricket/teams/16/48.png          98          False  2019-12-09T06:45:02.000000Z
15    49         Hobart Hurricanes   HH    https://cdn.sportmonks.com/images/cricket/teams/17/49.png          98          False  2018-11-29T11:47:20.000000Z
16    50       Melbourne Renegades   MR    https://cdn.sportmonks.com/images/cricket/teams/18/50.png          98          False  2018-11-29T11:47:20.000000Z
17    51           Melbourne Stars  MLS    https://cdn.sportmonks.com/images/cricket/teams/19/51.png          98          False  2022-12-13T10:41:00.000000Z
18    52           Perth Scorchers   PS    https://cdn.sportmonks.com/images/cricket/teams/20/52.png          98          False  2018-11-29T11:47:20.000000Z
19    53             Sydney Sixers   SS    https://cdn.sportmonks.com/images/cricket/teams/21/53.png          98          False  2018-11-29T11:47:20.000000Z
20    54            Sydney Thunder  SYT    https://cdn.sportmonks.com/images/cricket/teams/22/54.png          98          False  2022-12-13T10:41:07.000000Z
21    60                    Titans   MT    https://cdn.sportmonks.com/images/cricket/teams/28/60.png         146          False  2019-02-28T11:27:04.000000Z
22    61                  Dolphins   HD    https://cdn.sportmonks.com/images/cricket/teams/29/61.png         146          False  2018-11-13T20:31:04.000000Z
23    62               Cape Cobras   CC    https://cdn.sportmonks.com/images/cricket/teams/30/62.png         146          False  2018-11-13T20:31:09.000000Z
24    63                  Warriors  WAR    https://cdn.sportmonks.com/images/cricket/teams/31/63.png         146          False  2019-02-21T10:39:04.000000Z
25    64                     Lions   HL     https://cdn.sportmonks.com/images/cricket/teams/0/64.png         146          False  2018-11-13T20:31:21.000000Z
26    65                   Knights  KTS     https://cdn.sportmonks.com/images/cricket/teams/1/65.png         146          False  2021-02-15T12:39:42.000000Z
27   100                   Ireland  IRE    https://cdn.sportmonks.com/images/cricket/teams/4/100.png      190324           True  2019-02-08T11:22:03.000000Z
28   115                 Hong Kong   HK   https://cdn.sportmonks.com/images/cricket/teams/19/115.png       64306           True  2019-10-30T06:40:02.000000Z
29   140                    Canada  CAN   https://cdn.sportmonks.com/images/cricket/teams/12/140.png      190324           True  2019-11-05T09:22:02.000000Z
30   143                     Kenya  KEN   https://cdn.sportmonks.com/images/cricket/teams/15/143.png      190324           True  2018-11-13T21:14:56.000000Z
31   146               Netherlands  NLD   https://cdn.sportmonks.com/images/cricket/teams/18/146.png      190324           True  2019-02-13T16:25:02.000000Z
32   152                     Nepal  NPL   https://cdn.sportmonks.com/images/cricket/teams/24/152.png      190324           True  2020-02-08T15:54:07.000000Z
33   155                      Oman  OMN   https://cdn.sportmonks.com/images/cricket/teams/27/155.png      190324           True  2019-02-08T11:22:03.000000Z
34   272                       USA  USA   https://cdn.sportmonks.com/images/cricket/teams/16/272.png    14566636          False  2019-01-26T11:48:13.000000Z
35   293                   Namibia  NAM    https://cdn.sportmonks.com/images/cricket/teams/5/293.png      190324          False  2019-10-28T08:40:04.000000Z
36   296          Papua New Guinea  PNG    https://cdn.sportmonks.com/images/cricket/teams/8/296.png      190324          False  2019-10-30T06:43:02.000000Z
37   302                   Estonia  EST   https://cdn.sportmonks.com/images/cricket/teams/14/302.png      190324          False  2021-10-04T14:12:14.000000Z
38   305                     Spain  ESP   https://cdn.sportmonks.com/images/cricket/teams/17/305.png      190324          False  2019-03-16T11:32:10.000000Z
39   308                     Malta  MLT   https://cdn.sportmonks.com/images/cricket/teams/20/308.png      190324          False  2019-03-16T11:31:33.000000Z
40   326                   Germany  DEU    https://cdn.sportmonks.com/images/cricket/teams/6/326.png      190324           True  2021-06-21T13:12:45.000000Z
41   329                     Italy  ITA    https://cdn.sportmonks.com/images/cricket/teams/9/329.png         251           True  2019-04-03T11:09:15.000000Z
42   370                   Belgium  BEL   https://cdn.sportmonks.com/images/cricket/teams/18/370.png      190324          False  2019-05-08T19:57:46.000000Z
43   396                    Jersey  JEY   https://cdn.sportmonks.com/images/cricket/teams/12/396.png      190324          False  2019-05-27T19:16:17.000000Z
44   399                  Guernsey  GGY   https://cdn.sportmonks.com/images/cricket/teams/15/399.png      190324          False  2019-05-27T19:17:12.000000Z
45   402                  Malaysia  MYS   https://cdn.sportmonks.com/images/cricket/teams/18/402.png      190324           True  2020-02-20T11:23:02.000000Z
46   414                   Denmark  DNK   https://cdn.sportmonks.com/images/cricket/teams/30/414.png         320          False  2019-07-04T22:27:12.000000Z
47   417                   Finland  FIN    https://cdn.sportmonks.com/images/cricket/teams/1/417.png        1233          False  2019-07-04T22:26:47.000000Z
48   420                    Kuwait  KWT    https://cdn.sportmonks.com/images/cricket/teams/4/420.png       21462           True  2019-07-05T21:58:31.000000Z
49   423                     Qatar  QAT    https://cdn.sportmonks.com/images/cricket/teams/7/423.png       74505           True  2020-02-12T09:44:02.000000Z
50   429                 Singapore  SIN   https://cdn.sportmonks.com/images/cricket/teams/13/429.png       99474          False  2019-09-24T19:55:02.000000Z
51   456                  Botswana  BWA    https://cdn.sportmonks.com/images/cricket/teams/8/456.png      190324          False  2019-08-19T11:18:56.000000Z
52   483  United States of America  USA    https://cdn.sportmonks.com/images/cricket/teams/3/483.png      190324           True  2019-08-28T14:40:17.000000Z
53   486                   Romania  ROU    https://cdn.sportmonks.com/images/cricket/teams/6/486.png      190324          False  2019-08-27T18:22:34.000000Z
54   489                   Austria  AUT    https://cdn.sportmonks.com/images/cricket/teams/9/489.png      190324           True  2019-08-27T18:24:00.000000Z
55   492            Czech Republic  CZE   https://cdn.sportmonks.com/images/cricket/teams/12/492.png      190324           True  2019-08-27T18:24:53.000000Z
56   495                Luxembourg  LUX   https://cdn.sportmonks.com/images/cricket/teams/15/495.png      190324           True  2019-08-27T18:26:28.000000Z
57   498                    Turkey  TUR   https://cdn.sportmonks.com/images/cricket/teams/18/498.png      190324           True  2019-08-27T18:27:20.000000Z
58   501                    Russia  RUS   https://cdn.sportmonks.com/images/cricket/teams/21/501.png      190324           True  2019-08-27T18:31:20.000000Z
59   552                   Vanuatu  VUT    https://cdn.sportmonks.com/images/cricket/teams/8/552.png      190324           True  2019-09-27T16:54:33.000000Z
60   561                 Gibraltar  GIB   https://cdn.sportmonks.com/images/cricket/teams/17/561.png      190324           True  2019-10-04T18:26:51.000000Z
61   678                    Uganda  UGA    https://cdn.sportmonks.com/images/cricket/teams/6/678.png        4125          False  2020-02-12T09:44:02.000000Z
62  1065               Isle of Man  IMN   https://cdn.sportmonks.com/images/cricket/teams/9/1065.png       99474          False  2020-08-11T09:46:20.000000Z
63  1311                  Bulgaria  BGR  https://cdn.sportmonks.com/images/cricket/teams/31/1311.png      190324          False  2021-06-21T13:13:10.000000Z
64  1829                    Serbia  SEB   https://cdn.sportmonks.com/images/cricket/teams/5/1829.png      190324          False  2021-06-21T13:16:31.000000Z
65  1850                    Sweden  SWE  https://cdn.sportmonks.com/images/cricket/teams/26/1850.png       99474          False  2022-06-07T16:13:55.000000Z
66  1856                   Hungary  HUN   https://cdn.sportmonks.com/images/cricket/teams/0/1856.png          41          False  2021-07-01T20:11:07.000000Z
67  1880                    France  FRA  https://cdn.sportmonks.com/images/cricket/teams/24/1880.png      190324          False  2022-09-26T03:36:00.000000Z
68  1958               Switzerland  CHE   https://cdn.sportmonks.com/images/cricket/teams/6/1958.png      190324          False  2021-10-09T21:52:27.000000Z
69  2057                   Bahrain  BHR   https://cdn.sportmonks.com/images/cricket/teams/9/2057.png      190324          False  2022-01-29T11:56:14.000000Z
70  2060          Western Province   WP  https://cdn.sportmonks.com/images/cricket/teams/12/2060.png         146          False  2022-02-02T09:43:17.000000Z
71  2063                     Rocks  ROC  https://cdn.sportmonks.com/images/cricket/teams/15/2063.png         146          False  2022-02-05T19:30:00.000000Z
72  2066        North West Dragons  NWD  https://cdn.sportmonks.com/images/cricket/teams/18/2066.png         146          False  2022-10-12T19:41:50.000000Z
73  2156                   Croatia  HRV                                   https://cdn.sportmonks.com      190324          False  2022-07-24T12:50:38.000000Z
74  2183                 Indonesia  ISN   https://cdn.sportmonks.com/images/cricket/teams/7/2183.png      190324          False  2022-08-04T13:54:57.000000Z
75  2186                     Japan  JPN  https://cdn.sportmonks.com/images/cricket/teams/10/2186.png      190324          False  2022-08-04T13:55:57.000000Z
76  2252                    Rwanda  RWA  https://cdn.sportmonks.com/images/cricket/teams/12/2252.png      190324          False  2022-10-29T19:53:57.000000Z
77  2255                  Tanzania  TZA  https://cdn.sportmonks.com/images/cricket/teams/15/2255.png      190324          False  2022-10-29T19:55:07.000000Z

In [131]:
player.loc[0,"name"] = "Ghana"

In [133]:
player.to_csv("teams.csv", index=False)

In [135]:
print(player.to_string())

      id                      name code                                                   image_path  country_id  national_team                   updated_at
0      1                     Ghana  PAK      https://cdn.sportmonks.com/images/cricket/teams/1/1.png      190324           True  2018-11-29T11:47:20.000000Z
1     10                     India  IND    https://cdn.sportmonks.com/images/cricket/teams/10/10.png      190324           True  2018-11-29T11:47:20.000000Z
2     36                 Australia  AUS     https://cdn.sportmonks.com/images/cricket/teams/4/36.png      190324           True  2018-11-29T11:47:20.000000Z
3     37                Bangladesh  BGD     https://cdn.sportmonks.com/images/cricket/teams/5/37.png      190324           True  2018-11-29T11:47:20.000000Z
4     38                   England  ENG     https://cdn.sportmonks.com/images/cricket/teams/6/38.png      190324           True  2019-01-29T11:07:04.000000Z
5     39                 Sri Lanka  LKA     https://cdn.sportmonks.com/images/cricket/teams/7/39.png      190324           True  2019-08-31T12:20:09.000000Z
6     40              South Africa  ZAF     https://cdn.sportmonks.com/images/cricket/teams/8/40.png      190324           True  2019-08-31T12:31:16.000000Z
7     41                  Zimbabwe  ZIM     https://cdn.sportmonks.com/images/cricket/teams/9/41.png      190324           True  2019-06-17T14:45:03.000000Z
8     42               New Zealand  NZL    https://cdn.sportmonks.com/images/cricket/teams/10/42.png      190324           True  2019-08-31T12:32:06.000000Z
9     43               West Indies   WI    https://cdn.sportmonks.com/images/cricket/teams/11/43.png      190324           True  2018-11-29T11:47:20.000000Z
10    44                  Scotland  SCO    https://cdn.sportmonks.com/images/cricket/teams/12/44.png      190324           True  2019-02-13T16:25:03.000000Z
11    45      United Arab Emirates  UAE    https://cdn.sportmonks.com/images/cricket/teams/13/45.png      190324           True  2019-10-28T18:35:02.000000Z
12    46               Afghanistan  AFG    https://cdn.sportmonks.com/images/cricket/teams/14/46.png      190324           True  2019-02-19T06:30:02.000000Z
13    47         Adelaide Strikers   AS    https://cdn.sportmonks.com/images/cricket/teams/15/47.png          98          False  2019-12-19T12:26:02.000000Z
14    48             Brisbane Heat   BH    https://cdn.sportmonks.com/images/cricket/teams/16/48.png          98          False  2019-12-09T06:45:02.000000Z
15    49         Hobart Hurricanes   HH    https://cdn.sportmonks.com/images/cricket/teams/17/49.png          98          False  2018-11-29T11:47:20.000000Z
16    50       Melbourne Renegades   MR    https://cdn.sportmonks.com/images/cricket/teams/18/50.png          98          False  2018-11-29T11:47:20.000000Z
17    51           Melbourne Stars  MLS    https://cdn.sportmonks.com/images/cricket/teams/19/51.png          98          False  2022-12-13T10:41:00.000000Z
18    52           Perth Scorchers   PS    https://cdn.sportmonks.com/images/cricket/teams/20/52.png          98          False  2018-11-29T11:47:20.000000Z
19    53             Sydney Sixers   SS    https://cdn.sportmonks.com/images/cricket/teams/21/53.png          98          False  2018-11-29T11:47:20.000000Z
20    54            Sydney Thunder  SYT    https://cdn.sportmonks.com/images/cricket/teams/22/54.png          98          False  2022-12-13T10:41:07.000000Z
21    60                    Titans   MT    https://cdn.sportmonks.com/images/cricket/teams/28/60.png         146          False  2019-02-28T11:27:04.000000Z
22    61                  Dolphins   HD    https://cdn.sportmonks.com/images/cricket/teams/29/61.png         146          False  2018-11-13T20:31:04.000000Z
23    62               Cape Cobras   CC    https://cdn.sportmonks.com/images/cricket/teams/30/62.png         146          False  2018-11-13T20:31:09.000000Z
24    63                  Warriors  WAR    https://cdn.sportmonks.com/images/cricket/teams/31/63.png         146          False  2019-02-21T10:39:04.000000Z
25    64                     Lions   HL     https://cdn.sportmonks.com/images/cricket/teams/0/64.png         146          False  2018-11-13T20:31:21.000000Z
26    65                   Knights  KTS     https://cdn.sportmonks.com/images/cricket/teams/1/65.png         146          False  2021-02-15T12:39:42.000000Z
27   100                   Ireland  IRE    https://cdn.sportmonks.com/images/cricket/teams/4/100.png      190324           True  2019-02-08T11:22:03.000000Z
28   115                 Hong Kong   HK   https://cdn.sportmonks.com/images/cricket/teams/19/115.png       64306           True  2019-10-30T06:40:02.000000Z
29   140                    Canada  CAN   https://cdn.sportmonks.com/images/cricket/teams/12/140.png      190324           True  2019-11-05T09:22:02.000000Z
30   143                     Kenya  KEN   https://cdn.sportmonks.com/images/cricket/teams/15/143.png      190324           True  2018-11-13T21:14:56.000000Z
31   146               Netherlands  NLD   https://cdn.sportmonks.com/images/cricket/teams/18/146.png      190324           True  2019-02-13T16:25:02.000000Z
32   152                     Nepal  NPL   https://cdn.sportmonks.com/images/cricket/teams/24/152.png      190324           True  2020-02-08T15:54:07.000000Z
33   155                      Oman  OMN   https://cdn.sportmonks.com/images/cricket/teams/27/155.png      190324           True  2019-02-08T11:22:03.000000Z
34   272                       USA  USA   https://cdn.sportmonks.com/images/cricket/teams/16/272.png    14566636          False  2019-01-26T11:48:13.000000Z
35   293                   Namibia  NAM    https://cdn.sportmonks.com/images/cricket/teams/5/293.png      190324          False  2019-10-28T08:40:04.000000Z
36   296          Papua New Guinea  PNG    https://cdn.sportmonks.com/images/cricket/teams/8/296.png      190324          False  2019-10-30T06:43:02.000000Z
37   302                   Estonia  EST   https://cdn.sportmonks.com/images/cricket/teams/14/302.png      190324          False  2021-10-04T14:12:14.000000Z
38   305                     Spain  ESP   https://cdn.sportmonks.com/images/cricket/teams/17/305.png      190324          False  2019-03-16T11:32:10.000000Z
39   308                     Malta  MLT   https://cdn.sportmonks.com/images/cricket/teams/20/308.png      190324          False  2019-03-16T11:31:33.000000Z
40   326                   Germany  DEU    https://cdn.sportmonks.com/images/cricket/teams/6/326.png      190324           True  2021-06-21T13:12:45.000000Z
41   329                     Italy  ITA    https://cdn.sportmonks.com/images/cricket/teams/9/329.png         251           True  2019-04-03T11:09:15.000000Z
42   370                   Belgium  BEL   https://cdn.sportmonks.com/images/cricket/teams/18/370.png      190324          False  2019-05-08T19:57:46.000000Z
43   396                    Jersey  JEY   https://cdn.sportmonks.com/images/cricket/teams/12/396.png      190324          False  2019-05-27T19:16:17.000000Z
44   399                  Guernsey  GGY   https://cdn.sportmonks.com/images/cricket/teams/15/399.png      190324          False  2019-05-27T19:17:12.000000Z
45   402                  Malaysia  MYS   https://cdn.sportmonks.com/images/cricket/teams/18/402.png      190324           True  2020-02-20T11:23:02.000000Z
46   414                   Denmark  DNK   https://cdn.sportmonks.com/images/cricket/teams/30/414.png         320          False  2019-07-04T22:27:12.000000Z
47   417                   Finland  FIN    https://cdn.sportmonks.com/images/cricket/teams/1/417.png        1233          False  2019-07-04T22:26:47.000000Z
48   420                    Kuwait  KWT    https://cdn.sportmonks.com/images/cricket/teams/4/420.png       21462           True  2019-07-05T21:58:31.000000Z
49   423                     Qatar  QAT    https://cdn.sportmonks.com/images/cricket/teams/7/423.png       74505           True  2020-02-12T09:44:02.000000Z
50   429                 Singapore  SIN   https://cdn.sportmonks.com/images/cricket/teams/13/429.png       99474          False  2019-09-24T19:55:02.000000Z
51   456                  Botswana  BWA    https://cdn.sportmonks.com/images/cricket/teams/8/456.png      190324          False  2019-08-19T11:18:56.000000Z
52   483  United States of America  USA    https://cdn.sportmonks.com/images/cricket/teams/3/483.png      190324           True  2019-08-28T14:40:17.000000Z
53   486                   Romania  ROU    https://cdn.sportmonks.com/images/cricket/teams/6/486.png      190324          False  2019-08-27T18:22:34.000000Z
54   489                   Austria  AUT    https://cdn.sportmonks.com/images/cricket/teams/9/489.png      190324           True  2019-08-27T18:24:00.000000Z
55   492            Czech Republic  CZE   https://cdn.sportmonks.com/images/cricket/teams/12/492.png      190324           True  2019-08-27T18:24:53.000000Z
56   495                Luxembourg  LUX   https://cdn.sportmonks.com/images/cricket/teams/15/495.png      190324           True  2019-08-27T18:26:28.000000Z
57   498                    Turkey  TUR   https://cdn.sportmonks.com/images/cricket/teams/18/498.png      190324           True  2019-08-27T18:27:20.000000Z
58   501                    Russia  RUS   https://cdn.sportmonks.com/images/cricket/teams/21/501.png      190324           True  2019-08-27T18:31:20.000000Z
59   552                   Vanuatu  VUT    https://cdn.sportmonks.com/images/cricket/teams/8/552.png      190324           True  2019-09-27T16:54:33.000000Z
60   561                 Gibraltar  GIB   https://cdn.sportmonks.com/images/cricket/teams/17/561.png      190324           True  2019-10-04T18:26:51.000000Z
61   678                    Uganda  UGA    https://cdn.sportmonks.com/images/cricket/teams/6/678.png        4125          False  2020-02-12T09:44:02.000000Z
62  1065               Isle of Man  IMN   https://cdn.sportmonks.com/images/cricket/teams/9/1065.png       99474          False  2020-08-11T09:46:20.000000Z
63  1311                  Bulgaria  BGR  https://cdn.sportmonks.com/images/cricket/teams/31/1311.png      190324          False  2021-06-21T13:13:10.000000Z
64  1829                    Serbia  SEB   https://cdn.sportmonks.com/images/cricket/teams/5/1829.png      190324          False  2021-06-21T13:16:31.000000Z
65  1850                    Sweden  SWE  https://cdn.sportmonks.com/images/cricket/teams/26/1850.png       99474          False  2022-06-07T16:13:55.000000Z
66  1856                   Hungary  HUN   https://cdn.sportmonks.com/images/cricket/teams/0/1856.png          41          False  2021-07-01T20:11:07.000000Z
67  1880                    France  FRA  https://cdn.sportmonks.com/images/cricket/teams/24/1880.png      190324          False  2022-09-26T03:36:00.000000Z
68  1958               Switzerland  CHE   https://cdn.sportmonks.com/images/cricket/teams/6/1958.png      190324          False  2021-10-09T21:52:27.000000Z
69  2057                   Bahrain  BHR   https://cdn.sportmonks.com/images/cricket/teams/9/2057.png      190324          False  2022-01-29T11:56:14.000000Z
70  2060          Western Province   WP  https://cdn.sportmonks.com/images/cricket/teams/12/2060.png         146          False  2022-02-02T09:43:17.000000Z
71  2063                     Rocks  ROC  https://cdn.sportmonks.com/images/cricket/teams/15/2063.png         146          False  2022-02-05T19:30:00.000000Z
72  2066        North West Dragons  NWD  https://cdn.sportmonks.com/images/cricket/teams/18/2066.png         146          False  2022-10-12T19:41:50.000000Z
73  2156                   Croatia  HRV                                   https://cdn.sportmonks.com      190324          False  2022-07-24T12:50:38.000000Z
74  2183                 Indonesia  ISN   https://cdn.sportmonks.com/images/cricket/teams/7/2183.png      190324          False  2022-08-04T13:54:57.000000Z
75  2186                     Japan  JPN  https://cdn.sportmonks.com/images/cricket/teams/10/2186.png      190324          False  2022-08-04T13:55:57.000000Z
76  2252                    Rwanda  RWA  https://cdn.sportmonks.com/images/cricket/teams/12/2252.png      190324          False  2022-10-29T19:53:57.000000Z
77  2255                  Tanzania  TZA  https://cdn.sportmonks.com/images/cricket/teams/15/2255.png      190324          False  2022-10-29T19:55:07.000000Z

In [137]:
player.loc[0,"code"] = "GHANA"

In [139]:
player.to_csv("teams.csv", index=False)

In [141]:
print(player.to_string())

      id                      name   code                                                   image_path  country_id  national_team                   updated_at
0      1                     Ghana  GHANA      https://cdn.sportmonks.com/images/cricket/teams/1/1.png      190324           True  2018-11-29T11:47:20.000000Z
1     10                     India    IND    https://cdn.sportmonks.com/images/cricket/teams/10/10.png      190324           True  2018-11-29T11:47:20.000000Z
2     36                 Australia    AUS     https://cdn.sportmonks.com/images/cricket/teams/4/36.png      190324           True  2018-11-29T11:47:20.000000Z
3     37                Bangladesh    BGD     https://cdn.sportmonks.com/images/cricket/teams/5/37.png      190324           True  2018-11-29T11:47:20.000000Z
4     38                   England    ENG     https://cdn.sportmonks.com/images/cricket/teams/6/38.png      190324           True  2019-01-29T11:07:04.000000Z
5     39                 Sri Lanka    LKA     https://cdn.sportmonks.com/images/cricket/teams/7/39.png      190324           True  2019-08-31T12:20:09.000000Z
6     40              South Africa    ZAF     https://cdn.sportmonks.com/images/cricket/teams/8/40.png      190324           True  2019-08-31T12:31:16.000000Z
7     41                  Zimbabwe    ZIM     https://cdn.sportmonks.com/images/cricket/teams/9/41.png      190324           True  2019-06-17T14:45:03.000000Z
8     42               New Zealand    NZL    https://cdn.sportmonks.com/images/cricket/teams/10/42.png      190324           True  2019-08-31T12:32:06.000000Z
9     43               West Indies     WI    https://cdn.sportmonks.com/images/cricket/teams/11/43.png      190324           True  2018-11-29T11:47:20.000000Z
10    44                  Scotland    SCO    https://cdn.sportmonks.com/images/cricket/teams/12/44.png      190324           True  2019-02-13T16:25:03.000000Z
11    45      United Arab Emirates    UAE    https://cdn.sportmonks.com/images/cricket/teams/13/45.png      190324           True  2019-10-28T18:35:02.000000Z
12    46               Afghanistan    AFG    https://cdn.sportmonks.com/images/cricket/teams/14/46.png      190324           True  2019-02-19T06:30:02.000000Z
13    47         Adelaide Strikers     AS    https://cdn.sportmonks.com/images/cricket/teams/15/47.png          98          False  2019-12-19T12:26:02.000000Z
14    48             Brisbane Heat     BH    https://cdn.sportmonks.com/images/cricket/teams/16/48.png          98          False  2019-12-09T06:45:02.000000Z
15    49         Hobart Hurricanes     HH    https://cdn.sportmonks.com/images/cricket/teams/17/49.png          98          False  2018-11-29T11:47:20.000000Z
16    50       Melbourne Renegades     MR    https://cdn.sportmonks.com/images/cricket/teams/18/50.png          98          False  2018-11-29T11:47:20.000000Z
17    51           Melbourne Stars    MLS    https://cdn.sportmonks.com/images/cricket/teams/19/51.png          98          False  2022-12-13T10:41:00.000000Z
18    52           Perth Scorchers     PS    https://cdn.sportmonks.com/images/cricket/teams/20/52.png          98          False  2018-11-29T11:47:20.000000Z
19    53             Sydney Sixers     SS    https://cdn.sportmonks.com/images/cricket/teams/21/53.png          98          False  2018-11-29T11:47:20.000000Z
20    54            Sydney Thunder    SYT    https://cdn.sportmonks.com/images/cricket/teams/22/54.png          98          False  2022-12-13T10:41:07.000000Z
21    60                    Titans     MT    https://cdn.sportmonks.com/images/cricket/teams/28/60.png         146          False  2019-02-28T11:27:04.000000Z
22    61                  Dolphins     HD    https://cdn.sportmonks.com/images/cricket/teams/29/61.png         146          False  2018-11-13T20:31:04.000000Z
23    62               Cape Cobras     CC    https://cdn.sportmonks.com/images/cricket/teams/30/62.png         146          False  2018-11-13T20:31:09.000000Z
24    63                  Warriors    WAR    https://cdn.sportmonks.com/images/cricket/teams/31/63.png         146          False  2019-02-21T10:39:04.000000Z
25    64                     Lions     HL     https://cdn.sportmonks.com/images/cricket/teams/0/64.png         146          False  2018-11-13T20:31:21.000000Z
26    65                   Knights    KTS     https://cdn.sportmonks.com/images/cricket/teams/1/65.png         146          False  2021-02-15T12:39:42.000000Z
27   100                   Ireland    IRE    https://cdn.sportmonks.com/images/cricket/teams/4/100.png      190324           True  2019-02-08T11:22:03.000000Z
28   115                 Hong Kong     HK   https://cdn.sportmonks.com/images/cricket/teams/19/115.png       64306           True  2019-10-30T06:40:02.000000Z
29   140                    Canada    CAN   https://cdn.sportmonks.com/images/cricket/teams/12/140.png      190324           True  2019-11-05T09:22:02.000000Z
30   143                     Kenya    KEN   https://cdn.sportmonks.com/images/cricket/teams/15/143.png      190324           True  2018-11-13T21:14:56.000000Z
31   146               Netherlands    NLD   https://cdn.sportmonks.com/images/cricket/teams/18/146.png      190324           True  2019-02-13T16:25:02.000000Z
32   152                     Nepal    NPL   https://cdn.sportmonks.com/images/cricket/teams/24/152.png      190324           True  2020-02-08T15:54:07.000000Z
33   155                      Oman    OMN   https://cdn.sportmonks.com/images/cricket/teams/27/155.png      190324           True  2019-02-08T11:22:03.000000Z
34   272                       USA    USA   https://cdn.sportmonks.com/images/cricket/teams/16/272.png    14566636          False  2019-01-26T11:48:13.000000Z
35   293                   Namibia    NAM    https://cdn.sportmonks.com/images/cricket/teams/5/293.png      190324          False  2019-10-28T08:40:04.000000Z
36   296          Papua New Guinea    PNG    https://cdn.sportmonks.com/images/cricket/teams/8/296.png      190324          False  2019-10-30T06:43:02.000000Z
37   302                   Estonia    EST   https://cdn.sportmonks.com/images/cricket/teams/14/302.png      190324          False  2021-10-04T14:12:14.000000Z
38   305                     Spain    ESP   https://cdn.sportmonks.com/images/cricket/teams/17/305.png      190324          False  2019-03-16T11:32:10.000000Z
39   308                     Malta    MLT   https://cdn.sportmonks.com/images/cricket/teams/20/308.png      190324          False  2019-03-16T11:31:33.000000Z
40   326                   Germany    DEU    https://cdn.sportmonks.com/images/cricket/teams/6/326.png      190324           True  2021-06-21T13:12:45.000000Z
41   329                     Italy    ITA    https://cdn.sportmonks.com/images/cricket/teams/9/329.png         251           True  2019-04-03T11:09:15.000000Z
42   370                   Belgium    BEL   https://cdn.sportmonks.com/images/cricket/teams/18/370.png      190324          False  2019-05-08T19:57:46.000000Z
43   396                    Jersey    JEY   https://cdn.sportmonks.com/images/cricket/teams/12/396.png      190324          False  2019-05-27T19:16:17.000000Z
44   399                  Guernsey    GGY   https://cdn.sportmonks.com/images/cricket/teams/15/399.png      190324          False  2019-05-27T19:17:12.000000Z
45   402                  Malaysia    MYS   https://cdn.sportmonks.com/images/cricket/teams/18/402.png      190324           True  2020-02-20T11:23:02.000000Z
46   414                   Denmark    DNK   https://cdn.sportmonks.com/images/cricket/teams/30/414.png         320          False  2019-07-04T22:27:12.000000Z
47   417                   Finland    FIN    https://cdn.sportmonks.com/images/cricket/teams/1/417.png        1233          False  2019-07-04T22:26:47.000000Z
48   420                    Kuwait    KWT    https://cdn.sportmonks.com/images/cricket/teams/4/420.png       21462           True  2019-07-05T21:58:31.000000Z
49   423                     Qatar    QAT    https://cdn.sportmonks.com/images/cricket/teams/7/423.png       74505           True  2020-02-12T09:44:02.000000Z
50   429                 Singapore    SIN   https://cdn.sportmonks.com/images/cricket/teams/13/429.png       99474          False  2019-09-24T19:55:02.000000Z
51   456                  Botswana    BWA    https://cdn.sportmonks.com/images/cricket/teams/8/456.png      190324          False  2019-08-19T11:18:56.000000Z
52   483  United States of America    USA    https://cdn.sportmonks.com/images/cricket/teams/3/483.png      190324           True  2019-08-28T14:40:17.000000Z
53   486                   Romania    ROU    https://cdn.sportmonks.com/images/cricket/teams/6/486.png      190324          False  2019-08-27T18:22:34.000000Z
54   489                   Austria    AUT    https://cdn.sportmonks.com/images/cricket/teams/9/489.png      190324           True  2019-08-27T18:24:00.000000Z
55   492            Czech Republic    CZE   https://cdn.sportmonks.com/images/cricket/teams/12/492.png      190324           True  2019-08-27T18:24:53.000000Z
56   495                Luxembourg    LUX   https://cdn.sportmonks.com/images/cricket/teams/15/495.png      190324           True  2019-08-27T18:26:28.000000Z
57   498                    Turkey    TUR   https://cdn.sportmonks.com/images/cricket/teams/18/498.png      190324           True  2019-08-27T18:27:20.000000Z
58   501                    Russia    RUS   https://cdn.sportmonks.com/images/cricket/teams/21/501.png      190324           True  2019-08-27T18:31:20.000000Z
59   552                   Vanuatu    VUT    https://cdn.sportmonks.com/images/cricket/teams/8/552.png      190324           True  2019-09-27T16:54:33.000000Z
60   561                 Gibraltar    GIB   https://cdn.sportmonks.com/images/cricket/teams/17/561.png      190324           True  2019-10-04T18:26:51.000000Z
61   678                    Uganda    UGA    https://cdn.sportmonks.com/images/cricket/teams/6/678.png        4125          False  2020-02-12T09:44:02.000000Z
62  1065               Isle of Man    IMN   https://cdn.sportmonks.com/images/cricket/teams/9/1065.png       99474          False  2020-08-11T09:46:20.000000Z
63  1311                  Bulgaria    BGR  https://cdn.sportmonks.com/images/cricket/teams/31/1311.png      190324          False  2021-06-21T13:13:10.000000Z
64  1829                    Serbia    SEB   https://cdn.sportmonks.com/images/cricket/teams/5/1829.png      190324          False  2021-06-21T13:16:31.000000Z
65  1850                    Sweden    SWE  https://cdn.sportmonks.com/images/cricket/teams/26/1850.png       99474          False  2022-06-07T16:13:55.000000Z
66  1856                   Hungary    HUN   https://cdn.sportmonks.com/images/cricket/teams/0/1856.png          41          False  2021-07-01T20:11:07.000000Z
67  1880                    France    FRA  https://cdn.sportmonks.com/images/cricket/teams/24/1880.png      190324          False  2022-09-26T03:36:00.000000Z
68  1958               Switzerland    CHE   https://cdn.sportmonks.com/images/cricket/teams/6/1958.png      190324          False  2021-10-09T21:52:27.000000Z
69  2057                   Bahrain    BHR   https://cdn.sportmonks.com/images/cricket/teams/9/2057.png      190324          False  2022-01-29T11:56:14.000000Z
70  2060          Western Province     WP  https://cdn.sportmonks.com/images/cricket/teams/12/2060.png         146          False  2022-02-02T09:43:17.000000Z
71  2063                     Rocks    ROC  https://cdn.sportmonks.com/images/cricket/teams/15/2063.png         146          False  2022-02-05T19:30:00.000000Z
72  2066        North West Dragons    NWD  https://cdn.sportmonks.com/images/cricket/teams/18/2066.png         146          False  2022-10-12T19:41:50.000000Z
73  2156                   Croatia    HRV                                   https://cdn.sportmonks.com      190324          False  2022-07-24T12:50:38.000000Z
74  2183                 Indonesia    ISN   https://cdn.sportmonks.com/images/cricket/teams/7/2183.png      190324          False  2022-08-04T13:54:57.000000Z
75  2186                     Japan    JPN  https://cdn.sportmonks.com/images/cricket/teams/10/2186.png      190324          False  2022-08-04T13:55:57.000000Z
76  2252                    Rwanda    RWA  https://cdn.sportmonks.com/images/cricket/teams/12/2252.png      190324          False  2022-10-29T19:53:57.000000Z
77  2255                  Tanzania    TZA  https://cdn.sportmonks.com/images/cricket/teams/15/2255.png      190324          False  2022-10-29T19:55:07.000000Z